/package-lock.json
/FiverrTemplate/node_modules
/FiverrTemplate/package-lock.json
/api/node_modules
/api/.env
/FiverrTemplate/.env


package-lock.json
FiverrTemplate/node_modules
FiverrTemplate/package-lock.json
api/node_modules
api/.env
FiverrTemplate/.env
FiverrTemplate/
/FiverrTemplate/

