.myGigs {
    display: flex;
    justify-content: center;
    color: #555;
  
    .container {
      width: 1400px;
      padding: 50px 0px;
  
      .title {
        display: flex;
        justify-content: space-between;
  
        button {
          background-color: #1dbf73;
          color: white;
          font-weight: 500;
          border: none;
          padding: 10px;
          cursor: pointer;
        }
      }
  
      table {
        width: 100%;
  
        tr {
          height: 50px;
          th {
            text-align: left;
          }
          td {
  
            sup{
              font-size: 12px;
            }
            
            .image {
              width: 50px;
              height: 25px;
              object-fit: cover;
            }
  
            .delete {
              width: 20px;
              cursor: pointer;
            }
  
          }
          &:nth-child(even) {
            background-color: #1dbf730f;
          }
        }
      }
    }
  }


  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  
    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      transition: 0.4s;
      border-radius: 34px;
  
      &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: 0.4s;
        border-radius: 50%;
      }
    }
  
    input:checked + .slider {
      background-color: #2196F3;
    }
  
    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }
  
    input:checked + .slider:before {
      transform: translateX(26px);
    }
  }