.gig {
  display: flex;
  justify-content: center;
  color: #f8f9fa;
  background: #1a1d20;
  .container {
    width: 90%;
    padding: 30px 0px;
    display: flex;
    gap: 50px;

    .left {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .breadcrumbs {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 13px;
        color: #555;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;

        .pp {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }

        span {
          font-size: 14px;
          font-weight: 500;
        }

        .stars {
          display: flex;
          align-items: center;
          gap: 5px;

          img {
            height: 14px;
            width: 14px;
          }

          span {
            font-size: 14px;
            font-weight: bold;
            color: #ffc108;
          }
        }
      }
      .banner-py {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 0.5em;
        width: 100%;
        height: 25em;
        display: flex;
        justify-content: end;
        align-items: end;
      }

      .cont-dl{
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        padding: 2em;
        border-radius: 0.3em;
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: end;
        align-items: end;
      }

      .btn-download{
        text-decoration: none;
        font-weight: bold;
        color: #d6d6d6;
        transition: all .5s;
        &:hover {
          color: #ffffff;
          padding-bottom: 0.5em;
        }
      }

      h2 {
        font-weight: 400;
      }

      p {
        font-weight: 300;
        line-height: 25px;
        color: #f1f1f1;
      }

      .seller {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .user {
          display: flex;
          align-items: center;
          gap: 20px;

          img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
          }

          .info {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .stars {
              display: flex;
              align-items: center;
              gap: 5px;

              img {
                height: 14px;
                width: 14px;
              }

              span {
                font-size: 14px;
                font-weight: bold;
                color: #ffc108;
              }
            }

            button {
              background-color: white;
              border-radius: 5px;
              border: 1px solid gray;
              padding: 10px;
            }
          }
        }

        .box {
          border: 1px solid lightgray;
          border-radius: 5px;
          padding: 20px;
          margin-top: 20px;

          .items {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .item-ilb {
              width: 300px;
              display: flex;
              flex-direction: column;
              gap: 10px;
              margin-bottom: 20px;

              .desc{
                font-size: 1.1em;
                font-weight: bold;
              }

              .title {
                font-weight: 300;
              }
            }
          }

          hr {
            height: 0;
            border: 0.5px solid lightgray;
            margin-bottom: 20px;
          }
        }
      }

      
    }

    .right {
      flex: 1;
      border: 1px solid lightgray;
      padding: 20px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: max-content;
      max-height: 31em;
      overflow: auto;
      //position: sticky;
      top: 150px;

      .price {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2{
          font-weight: 300;
        }

        h3{
          font-weight: 500;
        }
      }

      p{
        color: #f1f1f1;
        margin: 10px 0px;
      }

      .details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;

        .item-li {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 20px;
          }
        }
      }

      .features{
        .item-fi{
          display: flex;
          align-items: center;
          padding-left: 1em;
          gap: 10px;
          font-weight: 300;
          color: #f1f1f1;
          margin-bottom: 5px;

          img{
            width: 14px;
          }
        }
      }

      button{
        background-color: #1dbf73;
        padding: 10px;
        color: white;
        font-weight: 500;
        border: none;
        font-size: 18px;
        cursor: pointer;
      }
    }
  }
}