.trustedBy {
  margin: 1.5em auto;
  display: flex;
  justify-content: center;
  width: 90%;

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
    color: rgb(200, 200, 200);
    font-weight: 500;

    img {
      width: 4em;
      object-fit: contain;
    }
  }
}

@media screen and (max-width: 600px) {
  .trustedBy {
    width: auto;
  
    .container {
      width: 100%;
  
      img {
        width: 3em;
        object-fit: contain;
      }
    }
  }
}